<h1>DUMMY</h1>
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tr>
            <td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
            <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
            <a href="newest">new</a> | <a href="newcomments">comments</a> | <span class="topsel"><a href="show">show</a></span> | <a href="ask">ask</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a> </span>
            </td>
            <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                            <a href="login?goto=show">login</a>
                        </span></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
          <tr style="height:5px"></tr>
          <tr>
            <td colspan="2"></td>
            <td>
              Please read the <a href="showhn.html"><u>rules</u></a>. You can also browse the <a href="shownew"><u>newest</u></a> Show HNs.
            </td>
          </tr>
          <tr style="height:10px"></tr>
          <tr class='athing' id='17951478'>
            <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17951478' href='vote?id=17951478&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/AurelienLourot/ghuser.io" class="storylink">Show HN: Ghuser.io – Complete GitHub profiles</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17951478">26 points</span> by <a href="user?id=lourot" class="hnuser">lourot</a> <span class="age"><a href="item?id=17951478">1 hour ago</a></span> <span id="unv_17951478"></span> | <a href="item?id=17951478">11&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17948287'>
            <td align="right" valign="top" class="title"><span class="rank">2.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17948287' href='vote?id=17948287&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/KonstantinSchubert/zero" class="storylink">Show HN: Zero – Local file system transparently swapping to the cloud</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17948287">227 points</span> by <a href="user?id=konschubert" class="hnuser">konschubert</a> <span class="age"><a href="item?id=17948287">15 hours ago</a></span> <span id="unv_17948287"></span> | <a href="item?id=17948287">87&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17951207'>
            <td align="right" valign="top" class="title"><span class="rank">3.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17951207' href='vote?id=17951207&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="item?id=17951207" class="storylink">Show HN: Nethack as a Screensaver</a></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17951207">2 points</span> by <a href="user?id=tess0r" class="hnuser">tess0r</a> <span class="age"><a href="item?id=17951207">2 hours ago</a></span> <span id="unv_17951207"></span> | <a href="item?id=17951207">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17947441'>
            <td align="right" valign="top" class="title"><span class="rank">4.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17947441' href='vote?id=17947441&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://chrome.google.com/webstore/detail/prod-%E2%80%94-the-thoughtful-to/cpelgckpifnonijeenjbaglajimalpcl" class="storylink">Show HN: Prod – Blocks addictive websites until you've finished your to-do list</a><span class="sitebit comhead"> (<a href="from?site=chrome.google.com"><span class="sitestr">chrome.google.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17947441">90 points</span> by <a href="user?id=JohnBartlet" class="hnuser">JohnBartlet</a> <span class="age"><a href="item?id=17947441">18 hours ago</a></span> <span id="unv_17947441"></span> | <a href="item?id=17947441">43&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17950175'>
            <td align="right" valign="top" class="title"><span class="rank">5.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17950175' href='vote?id=17950175&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/modulor-js/modulor-html" class="storylink" rel="nofollow">Show HN: Modulor-Html – Missing Template Engine for Web Components</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17950175">2 points</span> by <a href="user?id=nogizhopaboroda" class="hnuser">nogizhopaboroda</a> <span class="age"><a href="item?id=17950175">6 hours ago</a></span> <span id="unv_17950175"></span> | <a href="item?id=17950175">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17942032'>
            <td align="right" valign="top" class="title"><span class="rank">6.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17942032' href='vote?id=17942032&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/kanishka-linux/reminiscence" class="storylink">Show HN: Reminiscence, self-hosted bookmark manager and personal wayback machine</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17942032">200 points</span> by <a href="user?id=kanishkalinux" class="hnuser">kanishkalinux</a> <span class="age"><a href="item?id=17942032">1 day ago</a></span> <span id="unv_17942032"></span> | <a href="item?id=17942032">47&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17941890'>
            <td align="right" valign="top" class="title"><span class="rank">7.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17941890' href='vote?id=17941890&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/fabiomaia/linuxify" class="storylink">Show HN: Linuxify – Transform the MacOS CLI into a GNU/Linux CLI Experience</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17941890">27 points</span> by <a href="user?id=fabiomaia" class="hnuser">fabiomaia</a> <span class="age"><a href="item?id=17941890">1 day ago</a></span> <span id="unv_17941890"></span> | <a href="item?id=17941890">32&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17948508'>
            <td align="right" valign="top" class="title"><span class="rank">8.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17948508' href='vote?id=17948508&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/andrewchambers/asymcrypt" class="storylink" rel="nofollow">Show HN: Asymcrypt – asymmetric cryptography</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17948508">2 points</span> by <a href="user?id=andrewchambers" class="hnuser">andrewchambers</a> <span class="age"><a href="item?id=17948508">14 hours ago</a></span> <span id="unv_17948508"></span> | <a href="item?id=17948508">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17948467'>
            <td align="right" valign="top" class="title"><span class="rank">9.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17948467' href='vote?id=17948467&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/ao/ktmm" class="storylink" rel="nofollow">Show HN: ktmm (Keep That Mouse Moving!)</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17948467">5 points</span> by <a href="user?id=aogl" class="hnuser">aogl</a> <span class="age"><a href="item?id=17948467">14 hours ago</a></span> <span id="unv_17948467"></span> | <a href="item?id=17948467">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17933628'>
            <td align="right" valign="top" class="title"><span class="rank">10.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17933628' href='vote?id=17933628&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/skx/deployr/" class="storylink">Show HN: A simple Go utility to ease deployments via SSH and SCP</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17933628">47 points</span> by <a href="user?id=stevekemp" class="hnuser">stevekemp</a> <span class="age"><a href="item?id=17933628">2 days ago</a></span> <span id="unv_17933628"></span> | <a href="item?id=17933628">23&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17941815'>
            <td align="right" valign="top" class="title"><span class="rank">11.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17941815' href='vote?id=17941815&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://rosshaker.com/blueflame.html" class="storylink">Show HN: Interactive Portraits with Speech Synthesis</a><span class="sitebit comhead"> (<a href="from?site=rosshaker.com"><span class="sitestr">rosshaker.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17941815">16 points</span> by <a href="user?id=rosshaker" class="hnuser">rosshaker</a> <span class="age"><a href="item?id=17941815">1 day ago</a></span> <span id="unv_17941815"></span> | <a href="item?id=17941815">2&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17948077'>
            <td align="right" valign="top" class="title"><span class="rank">12.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17948077' href='vote?id=17948077&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/jwodder/ps1.py" class="storylink" rel="nofollow">Show HN: Yet another Git-aware bash prompt script</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17948077">2 points</span> by <a href="user?id=jwodder" class="hnuser">jwodder</a> <span class="age"><a href="item?id=17948077">16 hours ago</a></span> <span id="unv_17948077"></span> | <a href="item?id=17948077">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17947516'>
            <td align="right" valign="top" class="title"><span class="rank">13.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17947516' href='vote?id=17947516&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/exabrial/logback-openwire-appender" class="storylink" rel="nofollow">Show HN: ActiveMQ/Openwire appender for Logback. Log with reliability guarantees</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17947516">2 points</span> by <a href="user?id=exabrial" class="hnuser">exabrial</a> <span class="age"><a href="item?id=17947516">18 hours ago</a></span> <span id="unv_17947516"></span> | <a href="item?id=17947516">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17940134'>
            <td align="right" valign="top" class="title"><span class="rank">14.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17940134' href='vote?id=17940134&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="item?id=17940134" class="storylink">Show HN: SearchMage – Infinite Scrolling and Filtering</a></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17940134">12 points</span> by <a href="user?id=calmchaos" class="hnuser">calmchaos</a> <span class="age"><a href="item?id=17940134">1 day ago</a></span> <span id="unv_17940134"></span> | <a href="item?id=17940134">8&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17927200'>
            <td align="right" valign="top" class="title"><span class="rank">15.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17927200' href='vote?id=17927200&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/benfred/py-spy" class="storylink">Show HN: Py-spy – A new sampling profiler for Python programs</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17927200">281 points</span> by <a href="user?id=benfrederickson" class="hnuser">benfrederickson</a> <span class="age"><a href="item?id=17927200">3 days ago</a></span> <span id="unv_17927200"></span> | <a href="item?id=17927200">43&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17944380'>
            <td align="right" valign="top" class="title"><span class="rank">16.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17944380' href='vote?id=17944380&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://labeleat.com" class="storylink" rel="nofollow">Show HN: Labeleat – The app which scans and deciphers your food products</a><span class="sitebit comhead"> (<a href="from?site=labeleat.com"><span class="sitestr">labeleat.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17944380">7 points</span> by <a href="user?id=labeleat" class="hnuser">labeleat</a> <span class="age"><a href="item?id=17944380">1 day ago</a></span> <span id="unv_17944380"></span> | <a href="item?id=17944380">2&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17930669'>
            <td align="right" valign="top" class="title"><span class="rank">17.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17930669' href='vote?id=17930669&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://bitmidi.com/" class="storylink">Show HN: BitMidi – Wayback machine for old-school MIDI files</a><span class="sitebit comhead"> (<a href="from?site=bitmidi.com"><span class="sitestr">bitmidi.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17930669">162 points</span> by <a href="user?id=feross" class="hnuser">feross</a> <span class="age"><a href="item?id=17930669">3 days ago</a></span> <span id="unv_17930669"></span> | <a href="item?id=17930669">80&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17933145'>
            <td align="right" valign="top" class="title"><span class="rank">18.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17933145' href='vote?id=17933145&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="item?id=17933145" class="storylink">Show HN: Clipboard Plus, free and open-source clipboard manager for Windows</a></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17933145">58 points</span> by <a href="user?id=oormicreations" class="hnuser">oormicreations</a> <span class="age"><a href="item?id=17933145">3 days ago</a></span> <span id="unv_17933145"></span> | <a href="item?id=17933145">37&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17925701'>
            <td align="right" valign="top" class="title"><span class="rank">19.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17925701' href='vote?id=17925701&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/stepanvanzuriak/Finite" class="storylink">Show HN: Micro JavaScript framework inspired by finite-state machine</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17925701">59 points</span> by <a href="user?id=stepanvanzuriak" class="hnuser">stepanvanzuriak</a> <span class="age"><a href="item?id=17925701">2 days ago</a></span> <span id="unv_17925701"></span> | <a href="item?id=17925701">14&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17946264'>
            <td align="right" valign="top" class="title"><span class="rank">20.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17946264' href='vote?id=17946264&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/xi/gtk-theme-clearcodes" class="storylink" rel="nofollow">Show HN: Clearcodes – gtk3 theme from scratch with focus on code simplicty</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17946264">2 points</span> by <a href="user?id=ximm" class="hnuser">ximm</a> <span class="age"><a href="item?id=17946264">23 hours ago</a></span> <span id="unv_17946264"></span> | <a href="item?id=17946264">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17946221'>
            <td align="right" valign="top" class="title"><span class="rank">21.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17946221' href='vote?id=17946221&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/plyint/sb-kmod-signload.sh" class="storylink" rel="nofollow">Show HN: Auto sign and load kernel modules for Secure Boot</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17946221">2 points</span> by <a href="user?id=ahnick" class="hnuser">ahnick</a> <span class="age"><a href="item?id=17946221">23 hours ago</a></span> <span id="unv_17946221"></span> | <a href="item?id=17946221">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17923330'>
            <td align="right" valign="top" class="title"><span class="rank">22.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17923330' href='vote?id=17923330&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://ximera.osu.edu/mooculus" class="storylink">Show HN: Interactive Calculus via LaTeX</a><span class="sitebit comhead"> (<a href="from?site=osu.edu"><span class="sitestr">osu.edu</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17923330">114 points</span> by <a href="user?id=jovas" class="hnuser">jovas</a> <span class="age"><a href="item?id=17923330">3 days ago</a></span> <span id="unv_17923330"></span> | <a href="item?id=17923330">15&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17929175'>
            <td align="right" valign="top" class="title"><span class="rank">23.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17929175' href='vote?id=17929175&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/sourcegraph/sourcegraph-extension-api" class="storylink">Show HN: Sourcegraph extension API alpha</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17929175">22 points</span> by <a href="user?id=sqs" class="hnuser">sqs</a> <span class="age"><a href="item?id=17929175">3 days ago</a></span> <span id="unv_17929175"></span> | <a href="item?id=17929175">2&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17943720'>
            <td align="right" valign="top" class="title"><span class="rank">24.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17943720' href='vote?id=17943720&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="item?id=17943720" class="storylink">Show HN: Yime – Inverse of Google Calendar</a></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17943720">5 points</span> by <a href="user?id=techsin101" class="hnuser">techsin101</a> <span class="age"><a href="item?id=17943720">1 day ago</a></span> <span id="unv_17943720"></span> | <a href="item?id=17943720">6&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17933608'>
            <td align="right" valign="top" class="title"><span class="rank">25.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17933608' href='vote?id=17933608&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://cleantimer.io/" class="storylink" rel="nofollow">Show HN: Clean Timer – A clean and simple timer app</a><span class="sitebit comhead"> (<a href="from?site=cleantimer.io"><span class="sitestr">cleantimer.io</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17933608">4 points</span> by <a href="user?id=ISNIT" class="hnuser">ISNIT</a> <span class="age"><a href="item?id=17933608">3 days ago</a></span> <span id="unv_17933608"></span> | <a href="item?id=17933608">2&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17940346'>
            <td align="right" valign="top" class="title"><span class="rank">26.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17940346' href='vote?id=17940346&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://www.letscolearn.com" class="storylink" rel="nofollow">Show HN: Milestone focused co-learning platform</a><span class="sitebit comhead"> (<a href="from?site=letscolearn.com"><span class="sitestr">letscolearn.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17940346">3 points</span> by <a href="user?id=pushpankar" class="hnuser">pushpankar</a> <span class="age"><a href="item?id=17940346">1 day ago</a></span> <span id="unv_17940346"></span> | <a href="item?id=17940346">discuss</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17930122'>
            <td align="right" valign="top" class="title"><span class="rank">27.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17930122' href='vote?id=17930122&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/z0mbie42/latency/" class="storylink" rel="nofollow">Show HN: The simplest tool to test website latency from multiple locations</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17930122">7 points</span> by <a href="user?id=z0mbie42" class="hnuser">z0mbie42</a> <span class="age"><a href="item?id=17930122">3 days ago</a></span> <span id="unv_17930122"></span> | <a href="item?id=17930122">4&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17926949'>
            <td align="right" valign="top" class="title"><span class="rank">28.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17926949' href='vote?id=17926949&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/squidfunk/terraform-aws-cognito-auth" class="storylink" rel="nofollow">Show HN: Serverless Authentication as a Service Provider on top of AWS Cognito</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17926949">7 points</span> by <a href="user?id=squidfunk" class="hnuser">squidfunk</a> <span class="age"><a href="item?id=17926949">3 days ago</a></span> <span id="unv_17926949"></span> | <a href="item?id=17926949">2&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17920541'>
            <td align="right" valign="top" class="title"><span class="rank">29.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17920541' href='vote?id=17920541&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://github.com/RJT1990/mantra" class="storylink">Show HN: Mantra: a high-level development framework for deep learning projects</a><span class="sitebit comhead"> (<a href="from?site=github.com"><span class="sitestr">github.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17920541">15 points</span> by <a href="user?id=rosstaylor90" class="hnuser">rosstaylor90</a> <span class="age"><a href="item?id=17920541">4 days ago</a></span> <span id="unv_17920541"></span> | <a href="item?id=17920541">1&nbsp;comment</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class='athing' id='17940407'>
            <td align="right" valign="top" class="title"><span class="rank">30.</span></td>
            <td valign="top" class="votelinks">
              <center>
                <a id='up_17940407' href='vote?id=17940407&amp;how=up&amp;goto=show'>
                  <div class='votearrow' title='upvote'></div>
                </a>
              </center>
            </td>
            <td class="title"><a href="https://itunes.apple.com/us/app/four-seconds/id1280965840?ls=1&amp;mt=8" class="storylink" rel="nofollow">Show HN: Four Seconds – try and stop a timer at exactly 4 seconds</a><span class="sitebit comhead"> (<a href="from?site=apple.com"><span class="sitestr">apple.com</span></a>)</span>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="subtext">
              <span class="score" id="score_17940407">3 points</span> by <a href="user?id=andreiantonescu" class="hnuser">andreiantonescu</a> <span class="age"><a href="item?id=17940407">2 days ago</a></span> <span id="unv_17940407"></span> | <a href="item?id=17940407">9&nbsp;comments</a>              </td>
          </tr>
          <tr class="spacer" style="height:5px"></tr>
          <tr class="morespace" style="height:10px"></tr>
          <tr>
            <td colspan="2"></td>
            <td class="title"><a href="show?p=2" class="morelink" rel="nofollow">More</a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="s.gif" height="10" width="0">
        <table width="100%" cellspacing="0" cellpadding="1">
          <tr>
            <td bgcolor="#ff6600"></td>
          </tr>
        </table><br>
        <center><a href="https://www.ycombinator.com/apply/">
      Applications are open for YC Winter 2019
    </a></center><br>
        <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
      | <a href="newsfaq.html">FAQ</a>
      | <a href="mailto:hn@ycombinator.com">Support</a>
      | <a href="https://github.com/HackerNews/API">API</a>
      | <a href="security.html">Security</a>
      | <a href="lists">Lists</a>
      | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
      | <a href="http://www.ycombinator.com/legal/">Legal</a>
      | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
      | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
          <form method="get" action="//hn.algolia.com/">Search:
            <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
        </center>
      </td>
    </tr>
  </table>
</center>
