

<head>
<style>
div.a {
    font-size: 15px;
}

div.b {
    font-size: large;
}

div.c {
    font-size: 150%;
}
</style>
</head>

<div>

{{#each stories as |arry index |}}
<script>var Handlebars = require('handlebars');

Handlebars.registerHelper("inc", function(value, options)
{
  value = 0;
    return parseInt(value) + 1;
});</script>

  <tr>
    <td bgcolor=#fafaf0>
      <h10>{{index}} </h10>
    <table > <b font-size= large > <a href="">{{text}} </b> </a>     </td>
 <h15><a href="http:">{{url}}</h15></a> 
    </table>
      <span class="age"><a href="item?id=18080142">... minute ago</a></span> <span id="unv_18080142"></span> | <a href="hide?id=18080142&amp;goto=newest">hide</a> | <a href="https://hn.algolia.com/?query=Ask%20HN%3A%20Why%20do%20Google%20and%20FB%20interview%20when%20they%20already%20have%20data%20on%20you%3F&sort=byDate&dateRange=all&type=story&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=Ask%20HN%3A%20Why%20do%20Google%20and%20FB%20interview%20when%20they%20already%20have%20data%20on%20you%3F">web</a> | <a href="item?id=18080142">discuss</a>    
  </tr>
  
{{/each}}
</div>


<tr><td><img src="s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><a href="https://www.ycombinator.com/apply/">
        Applications are open for YC Winter 2019
      </a></center><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="mailto:hn@ycombinator.com">Support</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="lists">Lists</a>
        | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center></body><script type='text/javascript' src='hn.js?r8qEDXWkyx4I99Z66kR2'></script>
  </html>


