
{{#each content}}
  <tr>
    <td bgcolor=#fafaf0>
      {{this.reply}}
    </td>
  </tr>
{{/each}}

<!-- template -->
{{#each stories}}
  <tr>
    <td bgcolor=#fafaf0>

    </td>
  </tr>
  <tr>
    <td bgcolor=#fafaf0>

    </td>
  </tr>
{{/each}}
